@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans:
		"Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial,
		sans-serif;
	--serif: "Tiempos Text", Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;
	--marker: "duper", sans-serif;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--serif);
	--font-form: var(--sans);
	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-primary: var(--color-gray-900);
	--color-link: var(--color-gray-900);
	--color-link-hover: var(--color-gray-700);
	--color-focus: var(--ws-green);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-gray-300);
	--color-button-fg: var(--color-gray-900);
	--color-button-hover: var(--color-gray-400);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {

	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1 {
	font-size: var(--48px, 48px);
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

svg {
	display: block;
	width: 100%;
	height: auto;
}

.grid-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("/assets/grid.png");
	background-size: 150px 150px;
	background-repeat: repeat;
	z-index: -1;
	opacity: 0.2;
}

.orange-span {
	background: rgba(217, 111, 50, 0.75);
	padding: 0.25rem 0.5rem;
	font-weight: 700;
	font-family: var(--mono);
	box-decoration-break: clone;
}

.blue-span {
	background: rgba(154, 187, 217, 0.75);
	padding: 0.25rem 0.5rem;
	font-weight: 700;
	font-family: var(--mono);
	box-decoration-break: clone;
}

.green-span {
	background: rgba(194, 217, 50, 0.75);
	padding: 0.25rem 0.5rem;
	font-weight: 700;
	font-family: var(--mono);
	box-decoration-break: clone;
}

.purple-span {
	background: rgba(181, 123, 220, 0.75);
	padding: 0.25rem 0.5rem;
	font-weight: 700;
	font-family: var(--mono);
	box-decoration-break: clone;
}

.orange-outline {
	background: none;
	border: 2px solid rgba(217, 111, 50, 1);
	padding: 0.25rem 0.5rem;
	font-weight: 700;
	font-family: var(--mono);
	box-decoration-break: clone;
}

.orange-outline-dash {
	background: none;
	border: 2px dashed rgba(217, 111, 50, 1);
	padding: 0.25rem 0.5rem;
	font-weight: 700;
	font-family: var(--mono);
	box-decoration-break: clone;
}

span.bold, span.green-dot, span.blue-dot,span.shade-bg {
	font-weight: 700;
	font-family: var(--mono);
}

span.green-dot::before {
	content: '';
	height: 12px;
	width: 12px;
	background-color: var(--ws-green);
	border-radius: 50%;
	display: inline-block;
	margin-right: 0.25rem;
}

span.blue-dot::before {
	content: '';
	height: 12px;
	width: 12px;
	background-color: var(--ws-blue);
	border-radius: 50%;
	display: inline-block;
	margin-right: 0.25rem;
}

span.shade-bg::before {
	content: '';
	height: 14px;
	width: 20px;
	background: linear-gradient(
        to bottom,
        rgba(154,187,217,0.3) 0%,
        rgba(154,187,217,0.3) 45%,
        var(--ws-blue) 45%,
        var(--ws-blue) 65%,
        rgba(154,187,217,0.3) 65%,
        rgba(154,187,217,0.3) 100%
    );
	opacity: 1;
	display: inline-block;
	margin-right: 0.25rem;
}
